body{
	background: linear-gradient(to right ,#4568DC, #cc5333);border:10px solid black;
				font-family:'Electrolize';
}
header
{
	 display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	
}
#btn1
{
 display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#btn
{
	height:50px;
	color:black;
	font-size:25px;
	background-color:orange;
	margin-top:100px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	position: relative;
	box-shadow: 2px 2px red;
	width:100px;
	text-align:center;
}
#btn:hover
{
	background-color:grey;
	color:white;
}

footer
{
	text-align:center;
	border:2px solid black;
	background-color:black;
	color:white;
	margin-left:5px;
	margin-right:5px;
    margin-bottom:5px;

}

#foot{

	 position:fixed;
    bottom: 10px;
	width:100%;
}
#regform
{
	background-size: cover;
	background-position:fixed;
	background-attachment:fixed;
	color:white;
	margin-left:20px;
	margin-right:20px;
}
table{
	border:2px solid black;
	margin-left:auto;
	margin-right:auto;
	width:65%;
	font-family:Abril Fatface;
	text-shadow: 2px 2px black;
}
 tr , td{
	border:2px solid white;
	width:100%;
	padding:4px;
	box-shadow: 2px 2px black;
	font-family:Abril Fatface;
}

#caption{
	font-size:50px;color:black;text-shadow: 2px 2px red;
}
label
{
	font-size:25px;
	font-weight:bold;
}

input[type="text"] , input[type="password"] , input[type="number"] , select{

	size:50;font-size:25px;
	width:100%;
}
select{
	width:100%;
	size:50;
	font-size:25px;
}
span
{
	color:red;
}
#gen
{
	color:white;
}
#man
{
	float:right;
}
